@{
    ViewData["Title"] = "Index Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To get list of all users <a href="https://reqres.in/api/users?page=2">Click Here</a>.</p>
</div>
